<div class="search">
<form #form="ngForm"(submit)="onSubmit($event)" >
  <input type="text" placeholder="Search location"  [(ngModel)] = "location"  name="location" >
  <button type="submit">Search</button>
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/Weather Icon Design.jpg" *ngIf="weatherData.current_observation.condition.temperature > 15">
    <img src="../assets/hot weather.jpg" *ngIf="weatherData.current_observation.condition.temperature <= 15">

    <div class="weather-data">
      <div class="location">{{weatherData.location.city}}</div>
      <div class="temparature"> {{weatherData.current_observation.condition.temperature| number: '1.0-0' }}°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
     
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer.jpg">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.forecasts[0].low| number: '1.0-0'}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max temp.jpg">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.forecasts[0].high| number: '1.0-0'}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.jpg">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
         {{weatherData.current_observation.atmosphere.humidity}}%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind speed.jpg">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
         {{weatherData.current_observation.wind.speed}} km/h 
        </div>
      </div>
       <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/SUNRISE (2).jfif">
        <span>Sunrise</span>
      </div>
      <div class="info-block-value">
        {{weatherData.current_observation.astronomy.sunrise}}
      </div>
    </div>
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/SUNSET.jfif">
        <span>Sunset</span>
      </div>
      <div class="info-block-value">
        {{weatherData.current_observation.astronomy.sunset}}
      </div>
  </div>
  </div>
</div>
<div *ngIf="errorMessage" class="error">
  {{errorMessage}}
</div>
<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/Weather Icon Design.jpg" *ngIf="14 > 15">
    <img src="../assets/hot weather.jpg" *ngIf="14 <= 15">

    <div class="weather-data">
      <div class="location">Nairobi</div>
      <div class="temparature"> {{14.40 | number: '1.0-0' }}°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
     
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer.jpg">
          <span>min</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max temp.jpg">
          <span>max</span>
        </div>
        <div class="info-block-value">
          20°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.jpg">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          77%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind speed.jpg">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          11km/h 
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <router-outlet></router-outlet> -->